@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 70px;
    padding: 0 2rem;
    z-index: 999;
}

.header .logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}

.nav {
    display: flex;
}

.nav li {
    margin-left: 2rem;
}

.nav li a {
    display: flex;
    align-items: center;
    color: #fff;
}

.nav li a i {
    display: none;
}

.sign-in {
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.hero-section {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
}

.hero-text {
    position: absolute;
    bottom: 10%;
    left: 3rem;
    color: #fff;
}

.hero-title {
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: -0.2rem;
}

.hero-sub {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.score {
    font-size: .9rem;
}

.grade {
    background: #fff;
    padding: 0 .5rem;
    color: #333;
    border-radius: 2px;
    font-weight: 600;
    font-size: .9rem;
}

.hero-desc {
    width: 70%;
} 

.hero-desc p {
    font-size: 1.1rem;
}

.genre {
    margin: 1rem 0 2rem 0;
}

.genre span {
    border: .1rem solid #fff;
    margin-right: .5rem;
    padding: .2rem .5rem;
    border-radius: 2rem;
    font-size: .8rem;
    font-weight: 500;
}

.hero-btn {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background: #fff;
    width: max-content;
    color: #333;
    font-weight: 700;
    padding: .5rem .7rem;
    border-radius: 3px;
    cursor: pointer;
}

.hero-btn i {
    margin-right: .5rem;
}

#form{
    text-align: right;
    margin: 2rem;
}

.search {
    border: 1px solid #fff;
    background: #000;
    padding: .5rem 1rem;
    width: 200px;
    height: 45px;
    border-radius: 2rem;
    outline: none;
    color: #fff;
    font-family: inherit;
}

.search::placeholder {
    color: #fff;
}

.search:focus {
    background: #222;
}

.movie {
    width: 150px;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
    object-fit: cover;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .7rem;
    letter-spacing: .5px;
}

.movie-info h3 {
    font-size: 1rem;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    word-wrap: break-word; 
    line-height: 1.2em;
    height: 3.6em;
}

.movie-info span {
  border-radius: 3px;
  font-weight: 500;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.movie:hover .overview {
  bottom: 0;
}

.slide-container {
  position: relative;
  width: 100%;
}

.drama-zone,
.highest-drama-zone {
  position: relative;
  width: 100%;
}

.highest-drama-zone {
  top: 300px;
}

.drama-title,
.highest-title {
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  position: absolute;
}

.drama-container,
.highest-rated-movies {
  display: flex;
  overflow: hidden;
  margin: 2rem;
  gap: 1rem;
  /*width: 13333px;*/
  width: 200%;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 0;
}

.drama,
.highest {
  position: relative;
  cursor: pointer;
}

.drama img,
.highest img {
  width: 133.33px;
  height: 200px;
  object-fit: cover;
}

.drama-info,
.highest-info {
  position: absolute;
  left: 10px;
  bottom: 10px;
  transform: translateY(120%);
  transition: all 0.4s linear;
}

.drama-info h3,
.highest-info h3 {
  padding: 0 10px 10px 0;
  word-break: break-all;
}

.drama:hover .drama-info,
.highest:hover .highest-info {
  transform: translateY(0);
}

.drama:hover img,
.highest:hover img {
  opacity: 0.8;
}

#sign-in a,
#sign-up a {
  text-decoration: none;
  color: #fff;
}

#sign-in a:hover,
#sign-up a:hover {
  text-decoration: underline;
}

.sign-container {
  width: 100%;
  height: 100vh;
  background: #000;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 777;
  display: none;
}

.sign-container.active {
  display: flex;
}

#sign-in,
#sign-up {
  width: 400px;
  height: 550px;
  background: #000;
  color: #fff;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  background-image: url("/sign.JPG");
  background-position: 40% center;
  background-size: cover;
  position: absolute;
}

#sign-up {
  top: 120%;
  transition: all 0.5s linear;
}

#sign-up.active {
  top: 80.5px;
}

.sign-in-header,
.sign-up-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.header-icon i {
  font-size: 2rem;
}

.header-title h3 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  font-weight: 600;
}

.header-txt p {
  font-size: 0.9rem;
  word-break: keep-all;
  text-align: center;
}

.sign-in-main {
  margin: 3em 0 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sign-in-main div {
  margin-bottom: 1rem;
  border: 0.1rem solid #fff;
  padding: 0.7rem 0;
  border-radius: 2rem;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: transparent;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.sign-in-main div:hover {
  background: linear-gradient(
    111.5deg,
    rgba(228, 247, 255, 1) 21.9%,
    rgba(255, 216, 194, 1) 92.2%
  );
  color: #333;
}

.sign-in-main div i {
  margin-left: 5px;
}

.sign-in-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.sign-up-main {
  margin: 1.3rem 0 1rem 0;
  display: flex;
  flex-direction: column;
}

.sign-up-main label {
  margin-top: 1rem;
}

.sign-up-main input {
  border: none;
  background: transparent;
  border-bottom: 0.1rem solid #f0f0f0;
  padding: 0.5rem 0.7rem;
  outline: none;
  color: #fff;
  font-family: inherit;
}

.sign-up-main input::placeholder {
  font-family: inherit;
  color: #999;
}

.sign-up-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0.7rem;
}

.sign-up-footer button {
  border: 0.1rem solid #fff;
  background: transparent;
  padding: 0.5rem 0;
  width: 100px;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer;
}

.sign-up-footer button:hover {
  background: linear-gradient(
    111.5deg,
    rgba(228, 247, 255, 1) 21.9%,
    rgba(255, 216, 194, 1) 92.2%
  );
  color: #333;
}

.sign-in-link p {
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}

.sign-in-link a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 992px) {
  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -120%;
    width: 50%;
    height: 100vh;
    justify-content: flex-start;
    background: #000;
    padding: 1rem 1.5rem;
    transition: all 0.4s ease-in-out;
  }

  .nav.active {
    left: 0;
  }

  .nav li {
    margin: 1.5rem 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #000;
  }

  .nav li:hover {
    border: 0.1rem solid #fff;
  }

  .hero-text {
    left: 2rem;
  }

  .menu {
    display: inline-block;
    width: 32px;
    height: 32px;
  }

  .menu i {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
}
